body {
    background-color: darkslateblue;
  }

  h1 {
    color: white;
    font-family:'Lucida Sans';

  }

  h2 {
      color: white;
      font-family:'Lucida Sans';

  }

  p {
    color: white;
    font-family:'Lucida Sans';
    font-size: large;
  }

  a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-family:'Lucida Sans';

  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
    font-family:'Lucida Sans';

  }
  
  a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
    font-family:'Lucida Sans';

  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
    font-family:'Lucida Sans';

  }